<div class="content">
    <h1 class="section__title">Sorteio de Amigos</h1>
  
    <!-- Formulário de Entrada -->
    <div class="form">
      <label class="form__label" for="nome-amigo">Nome do Amigo:</label>
      <input [(ngModel)]="nomeAmigo" class="form__input" id="nome-amigo" type="text" placeholder="Digite o nome">
      
      <div class="form__buttons">
        <button class="button primary" (click)="adicionar()">Adicionar</button>
        <button class="button secondary" (click)="sortear()">Sortear</button>
        <button class="button" (click)="reiniciar()">Reiniciar</button>
      </div>
    </div>
  
    <!-- Lista de Amigos -->
    <div class="friends__container">
      <h2 class="friends__title">Amigos:</h2>
      <p *ngIf="amigos.length > 0">{{ amigos.join(', ') }}</p>
      <p *ngIf="amigos.length === 0">Nenhum amigo adicionado.</p>
    </div>
  
    <!-- Resultado do Sorteio -->
    <div class="prizeDraw__container" *ngIf="sorteios.length > 0">
      <h2 class="prizeDraw__title">Sorteio:</h2>
      <p *ngFor="let resultado of sorteios">{{ resultado }}</p>
    </div>
  </div>  